<h1>Leave a message!</h1>

<form method="POST">
	<input type="text" name="name" placeholder="Your name" /><br /><br />
	<textarea name="message" placeholder="Your message"></textarea><br /><br />

	<button>Send it!</button>
</form>